/.vs/CurrencyConverter.Client/DesignTimeBuild/.dtbcache
/.vs/CurrencyConverter.Client/v16/.suo
/.vs/CurrencyConverter.Client/v16/Server/sqlite3/storage.ide
/.vs/CurrencyConverter.Client/v16/Server/sqlite3/storage.ide-shm
/.vs/CurrencyConverter.Client/v16/Server/sqlite3/storage.ide-wal
/.vs/CurrencyConverter.Service/config/applicationhost.config
/.vs/CurrencyConverter.Service/v16/.suo
/.vs/CurrencyConverter.Service/v16/Server/sqlite3/storage.ide
/.vs/CurrencyConverter.Service/v16/Server/sqlite3/storage.ide-shm
/.vs/CurrencyConverter.Service/v16/Server/sqlite3/storage.ide-wal
/Client.Common/bin/Debug/Client.Common.dll
/Client.Common/bin/Debug/Client.Common.pdb
/Client.Common/obj/Debug/Client.Common.csproj.FileListAbsolute.txt
/Client.Common/obj/Debug/Client.Common.dll
/Client.Common/obj/Debug/Client.Common.pdb
/Client.Common/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Client.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client.CurrencyConverter.Plugin/bin/Debug/Client.Common.dll
/Client.CurrencyConverter.Plugin/bin/Debug/Client.Common.pdb
/Client.CurrencyConverter.Plugin/bin/Debug/Client.CurrencyConverter.Plugin.dll
/Client.CurrencyConverter.Plugin/bin/Debug/Client.CurrencyConverter.Plugin.pdb
/Client.CurrencyConverter.Plugin/bin/Debug/Client.Resources.dll
/Client.CurrencyConverter.Plugin/bin/Debug/Client.Resources.pdb
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.Properties.Resources.resources
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.csproj.CopyComplete
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.csproj.FileListAbsolute.txt
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.csproj.GenerateResource.cache
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.csprojAssemblyReference.cache
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.dll
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.g.resources
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin.pdb
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin_MarkupCompile.cache
/Client.CurrencyConverter.Plugin/obj/Debug/Client.CurrencyConverter.Plugin_MarkupCompile.i.cache
/Client.CurrencyConverter.Plugin/obj/Debug/CurrencyConverterView.baml
/Client.CurrencyConverter.Plugin/obj/Debug/CurrencyConverterView.g.cs
/Client.CurrencyConverter.Plugin/obj/Debug/CurrencyConverterView.g.i.cs
/Client.CurrencyConverter.Plugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client.CurrencyConverter.Plugin/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/Client.CurrencyConverter.Plugin/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Client.Resources/bin/Debug/Client.Resources.dll
/Client.Resources/bin/Debug/Client.Resources.pdb
/Client.Resources/obj/Debug/Client.Resources.Properties.Resources.resources
/Client.Resources/obj/Debug/Client.Resources.csproj.FileListAbsolute.txt
/Client.Resources/obj/Debug/Client.Resources.csproj.GenerateResource.cache
/Client.Resources/obj/Debug/Client.Resources.dll
/Client.Resources/obj/Debug/Client.Resources.g.resources
/Client.Resources/obj/Debug/Client.Resources.pdb
/Client.Resources/obj/Debug/Client.Resources_MarkupCompile.cache
/Client.Resources/obj/Debug/Client.Resources_MarkupCompile.i.cache
/Client.Resources/obj/Debug/ControlStyles.baml
/Client.Resources/obj/Debug/DefaultSettings.baml
/Client.Resources/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client.Resources/obj/Debug/GeneratedInternalTypeHelper.g.i.cs
/Client.Start/bin/Debug/Client.Common.dll
/Client.Start/bin/Debug/Client.Common.pdb
/Client.Start/bin/Debug/Client.CurrencyConverter.Plugin.dll
/Client.Start/bin/Debug/Client.CurrencyConverter.Plugin.pdb
/Client.Start/bin/Debug/Client.Resources.dll
/Client.Start/bin/Debug/Client.Resources.pdb
/Client.Start/bin/Debug/Client.Start.exe
/Client.Start/bin/Debug/Client.Start.exe.config
/Client.Start/bin/Debug/Client.Start.pdb
/Client.Start/bin/Debug/Ninject.dll
/Client.Start/bin/Debug/Ninject.xml
/Client.Start/obj/Debug/App.baml
/Client.Start/obj/Debug/App.g.cs
/Client.Start/obj/Debug/App.g.i.cs
/Client.Start/obj/Debug/Client.Start.Properties.Resources.resources
/Client.Start/obj/Debug/Client.Start.csproj.CopyComplete
/Client.Start/obj/Debug/Client.Start.csproj.FileListAbsolute.txt
/Client.Start/obj/Debug/Client.Start.csproj.GenerateResource.cache
/Client.Start/obj/Debug/Client.Start.csprojAssemblyReference.cache
/Client.Start/obj/Debug/Client.Start.exe
/Client.Start/obj/Debug/Client.Start.g.resources
/Client.Start/obj/Debug/Client.Start.pdb
/Client.Start/obj/Debug/Client.Start_MarkupCompile.cache
/Client.Start/obj/Debug/Client.Start_MarkupCompile.i.cache
/Client.Start/obj/Debug/CurrencyConverter.Client.Start_MarkupCompile.i.cache
/Client.Start/obj/Debug/CurrencyConverter.Plugin/CurrencyConverterView.g.i.cs
/Client.Start/obj/Debug/CurrencyConverterView.g.i.cs
/Client.Start/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Client.Start/obj/Debug/MainWindow.baml
/Client.Start/obj/Debug/MainWindow.g.cs
/Client.Start/obj/Debug/MainWindow.g.i.cs
/Client.Start/obj/Debug/Plugin/CurrencyConverterView.g.i.cs
/Client.Start/obj/Debug/Plugin/CurrencyConverterViewModel.g.i.cs
/Client.Start/obj/Debug/Styles/Controls.baml
/Client.Start/obj/Debug/Styles/DefaultSettings.baml
/Client.Start/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
/CurrencyConverter.Client.sln.DotSettings
/Server.CurrencyConverter.Engine/bin/Debug/Server.CurrencyConverter.Engine.dll
/Server.CurrencyConverter.Engine/bin/Debug/Server.CurrencyConverter.Engine.pdb
/Server.CurrencyConverter.Engine/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter.Engine/obj/Debug/Server.CurrencyConverter.Engine.csproj.FileListAbsolute.txt
/Server.CurrencyConverter.Engine/obj/Debug/Server.CurrencyConverter.Engine.dll
/Server.CurrencyConverter.Engine/obj/Debug/Server.CurrencyConverter.Engine.pdb
/Server.CurrencyConverter.Engine/obj/Debug/Server.CurrencyConverter.Usd.csprojAssemblyReference.cache
/Server.CurrencyConverter.Host/bin/Debug/Ninject.dll
/Server.CurrencyConverter.Host/bin/Debug/Ninject.xml
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.Engine.dll
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.Engine.pdb
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.Host.exe
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.Host.exe.config
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.Host.pdb
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.dll
/Server.CurrencyConverter.Host/bin/Debug/Server.CurrencyConverter.pdb
/Server.CurrencyConverter.Host/bin/Release/Server.CurrencyConverter.Host.exe
/Server.CurrencyConverter.Host/bin/Release/Server.CurrencyConverter.Host.exe.config
/Server.CurrencyConverter.Host/bin/Release/Server.CurrencyConverter.Host.pdb
/Server.CurrencyConverter.Host/bin/Release/Server.CurrencyConverter.dll
/Server.CurrencyConverter.Host/bin/Release/Server.CurrencyConverter.pdb
/Server.CurrencyConverter.Host/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter.Host/obj/Debug/Server.CurrencyConverter.Host.csproj.CopyComplete
/Server.CurrencyConverter.Host/obj/Debug/Server.CurrencyConverter.Host.csproj.FileListAbsolute.txt
/Server.CurrencyConverter.Host/obj/Debug/Server.CurrencyConverter.Host.csprojAssemblyReference.cache
/Server.CurrencyConverter.Host/obj/Debug/Server.CurrencyConverter.Host.exe
/Server.CurrencyConverter.Host/obj/Debug/Server.CurrencyConverter.Host.pdb
/Server.CurrencyConverter.Host/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter.Host/obj/Release/Server.CurrencyConverter.Host.csproj.CopyComplete
/Server.CurrencyConverter.Host/obj/Release/Server.CurrencyConverter.Host.csproj.FileListAbsolute.txt
/Server.CurrencyConverter.Host/obj/Release/Server.CurrencyConverter.Host.csprojAssemblyReference.cache
/Server.CurrencyConverter.Host/obj/Release/Server.CurrencyConverter.Host.exe
/Server.CurrencyConverter.Host/obj/Release/Server.CurrencyConverter.Host.pdb
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/Server.CurrencyConverter.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.Engine.dll
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.Engine.pdb
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.Tests.dll
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.Tests.pdb
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.dll
/Server.CurrencyConverter.Tests/bin/Debug/Server.CurrencyConverter.pdb
/Server.CurrencyConverter.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter.Tests/obj/Debug/Server.CurrencyConverter.Tests.csproj.CopyComplete
/Server.CurrencyConverter.Tests/obj/Debug/Server.CurrencyConverter.Tests.csproj.FileListAbsolute.txt
/Server.CurrencyConverter.Tests/obj/Debug/Server.CurrencyConverter.Tests.csprojAssemblyReference.cache
/Server.CurrencyConverter.Tests/obj/Debug/Server.CurrencyConverter.Tests.dll
/Server.CurrencyConverter.Tests/obj/Debug/Server.CurrencyConverter.Tests.pdb
/Server.CurrencyConverter/bin/Debug/Server.CurrencyConverter.Engine.dll
/Server.CurrencyConverter/bin/Debug/Server.CurrencyConverter.Engine.pdb
/Server.CurrencyConverter/bin/Debug/Server.CurrencyConverter.dll
/Server.CurrencyConverter/bin/Debug/Server.CurrencyConverter.pdb
/Server.CurrencyConverter/bin/Release/Server.CurrencyConverter.dll
/Server.CurrencyConverter/bin/Release/Server.CurrencyConverter.pdb
/Server.CurrencyConverter/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter/obj/Debug/Server.CurrencyConverter.csproj.CopyComplete
/Server.CurrencyConverter/obj/Debug/Server.CurrencyConverter.csproj.FileListAbsolute.txt
/Server.CurrencyConverter/obj/Debug/Server.CurrencyConverter.csprojAssemblyReference.cache
/Server.CurrencyConverter/obj/Debug/Server.CurrencyConverter.dll
/Server.CurrencyConverter/obj/Debug/Server.CurrencyConverter.pdb
/Server.CurrencyConverter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Server.CurrencyConverter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Server.CurrencyConverter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Server.CurrencyConverter/obj/Debug/WcfServiceLibrary1.csproj.CoreCompileInputs.cache
/Server.CurrencyConverter/obj/Debug/WcfServiceLibrary1.csprojAssemblyReference.cache
/Server.CurrencyConverter/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/Server.CurrencyConverter/obj/Release/Server.CurrencyConverter.csproj.FileListAbsolute.txt
/Server.CurrencyConverter/obj/Release/Server.CurrencyConverter.csprojAssemblyReference.cache
/Server.CurrencyConverter/obj/Release/Server.CurrencyConverter.dll
/Server.CurrencyConverter/obj/Release/Server.CurrencyConverter.pdb
/Client.Common/Client.Common.csproj.user
/Client.CurrencyConverter.Plugin/Client.CurrencyConverter.Plugin.csproj.user
/Server.CurrencyConverter.Engine/Server.CurrencyConverter.Engine.csproj.user
/Server.CurrencyConverter.Host/Server.CurrencyConverter.Host.csproj.user
/Server.CurrencyConverter/Server.CurrencyConverter.csproj.user
